Package: com.atwiiks.horseshoe
Name: Horseshoe
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: A better iOS 10 Control Center!
Maintainer: ATWiiks
Author: ATWiiks
Section: Tweaks
